                   <h1 align="center">About</h1>

- <p>This is an app designed for my sunday school students for a place, meeting, or channel where ideas and views on whatever issues can be exchanged.</p>