<div class='author_comment'>
<p><%= comment.comment %></p>
<small class='author_email'>By: <%= comment.user.email %></small> <br>
<%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %> |
<%= link_to 'Delete comment', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
</div> 