<h1 align='center'>Update your comment</h1>

<div class='edit-comment'>
<%= simple_form_for([@post, @comment]) do |f| %>
  <div class="comment-box">
    <%= f.text_area :comment, rows:10, class: "form-control" %>
  </div>
  <div class="col-sm-5">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>

