<h1 align="center">What We're About</h1>
<p>The purpose of this website is for the middle school Sunday school class of Ebenezer Oromo Evangelical Church where they can meet throughout the week and discuss church things with eachother each other.</p>
