<div class="page">
<h1 align="center">What We're About?</h1>
    <div class="about"> This website is designed for the middle school Sunday school class of Ebenezer Oromo Evangelical Church. The purpose of this website is for the class to meet throughout the week and discuss anything that's church related with each other.</div>
</div>  
