<div align="center">
  <div class="home-page">
    <h1 class="features">Waligaltie Features</h1>
    <p class="home-all-posts"><%= link_to "ALL POSTS", posts_path %></p>
    <p class="home-about"><%= link_to "ABOUT US", about_path %></p>
    <p class="home-contact"><%= link_to "CONTACT", new_contact_path %></p>
  </div>
</div>
