<div class="home-page">
  <h1 class="features">Waligalta Features</h1>
  <p><%= link_to "All Posts", posts_path %></p>
  <p><%= link_to "About", about_path %></p>
  <p><%= link_to "Contact", contact_path %></p>
</div>
