@import "bootstrap-sprockets";
@import "bootstrap"; 


a:link, a:visited {
  text-decoration: none;
} 


/* top left logo */

#logo {
    color: #00CCFF;
    font-weight: bold;
}



/* debug */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
}




/* footer */


footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: black;
}

footer a:hover {
	color: #00CCFF;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}


.btn {
	align: center;
}




/* post show */

.post-actions {
	padding-top: 10px;
	border-top: 1px solid lightgray;
}


.post-title {
	font-weight: bold;
	font-size: 1.5em;	
}


.post-body {
	border-top: 1px solid lightgray;
	padding-top: 15px;
	padding-bottom: 15px;
}





/* post index */

.post-meta-details {
	border-top: 1px solid lightgray;
	margin-top: 12px;
}





/* user in&out */

.navbar-right {
	padding-top: 17px;
}




.navbar-default {
	margin: -50px 10px;
	padding: 0 10px 0 5px;
}





/* comments */

.author_comment {
    border-bottom: 1px solid lightgray;
    padding-bottom: 3em;
    margin-bottom: 3em;
}




.author_email {
    font-style: italic;
    color: darkseagreen;
    margin-top: 2em;
    float: right;
}





/* Add post link */

.new-post {
	border: 1px solid #337ab7;
    color: #337ab7;
    padding: .5em 1em ;
    border-radius: .5em;
    text-decoration: none;
    float: right;
    background-color: lightgray;
}




/* comment box */

.comment-box {
	margin: 10px;
}



/* comment create btn */

.col-sm {
    margin-bottom: 20px;
    color: darkseagreen;
    border-radius: .5em;
}














