@import "bootstrap-sprockets";
@import "bootstrap"; 






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #919191;
    font-family: 'lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}






/* top left logo */

#logo {
    color: #00CCFF;
    font-weight: bold;
}




/* debug */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
}




/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: black;
}

footer a:hover {
	color: #00CCFF;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}


.btn {
	align: center;
}







/* post show */

.post-actions {
	padding-top: 10px;
	border-top: 1px solid lightgray;
}


.post-title {
	font-weight: bold;
	font-size: 1.5em;	
}


.post-body {
	border-top: 1px solid lightgray;
	padding-top: 15px;
	padding-bottom: 15px;
}








/* post index */

.post-meta-details {
	border-top: 1px solid lightgray;
	margin-top: 12px;
}

.row {
    background: #EDEFF0;
}

.col-xs-8 {
    background: white;
}

.post-title {
    font-family: fantasy;
    color: lightskyblue;
}


.new-post {
    border: 1px solid #337ab7;
    color: #337ab7;
    padding: .5em .5em .5em .5em;
    margin: 0 27px 0 0;
    border-radius: .5em;
    text-decoration: none;
    float: right;
    background: white;
}


.post-edit {
    border: 1px solid gray;
    background-color: skyblue;
    border-radius: .5em;
    padding: 2px;
    float: left;
    margin: -7px 1px;
    font-family: sans-serif;
}


.post-edit a:link {
    text-decoration: none;
}


.post-delete {
    border: 1px solid gray;
    background-color: coral;
    border-radius: .5em;
    padding: 2px;
    margin: -7px 5px;
    float: left;
    font-family: sans-serif;
}

.post-delete a:link {
    text-decoration: none;
}










/* user in&out */

.navbar-right {
	padding-top: 17px;
    color: #337ab7;
}


.navbar-default {
	margin: -50px 10px;
	padding: 0 10px 0 5px;
}







/* comments */

.author-comment {
    border-bottom: 1px solid lightgray;
    padding-bottom: 3em;
    margin-bottom: 3em;
}

.author-email {
    font-style: italic;
    color: darkseagreen;
    margin-top: 2em;
    float: right;
}







/* comment box */

.comment-box {
	margin: 10px;
}






/* comment create btn */

.col-sm {
    margin-bottom: 20px;
    color: #337ab7;
    border-radius: .5em;
}







/* comment links */

.comment-edit {
    border: 1px solid gray;
    background-color: skyblue;
    border-radius: .5em;
    padding: 2px;
    float: left;
    margin: 0 3px 0 0;
}

.comment-edit a:link {
	text-decoration: none;
}


.comment-delete {
    border: 1px solid gray;
    background-color: salmon;
    border-radius: .5em;
    padding: 2px;
    float: left;
    margin: 0 0 0 3px;
}

.comment-delete a:link {
	text-decoration: none;
}









/* post links */

.post-comment-edit {
    border: 1px solid gray;
    background-color: skyblue;
    border-radius: .5em;
    padding: 2px;
    float: left;
    margin: 0 0 0 -5px;
}

.post-comment-edit a:link {
	text-decoration: none;
}

.post-comment-view {
    border: 1px solid gray;
    background-color: lightgreen;
    border-radius: .5em;
    padding: 2px;
    float: left;
    margin: 0 0 0 3px;
}

.post-comment-view a:link {
	text-decoration: none;
}

.post-comment-delete {
    border: 1px solid gray;
    background-color: salmon;
    border-radius: .5em;
    padding: 2px;
    float: left;
    margin: 0 0 0 3px;
}

.post-comment-delete a:link {
	text-decoration: none;
}






/*  Navbar */

.navbar {
    border:1px solid lightgray;    
    margin-top: -30px;
    border-radius: 3em;
    background: lightgreen;
    padding: 0 20px 0 10px;
}




