<div class='container'>
  <footer class='footer'>
    <small>
	  Developed by: <a href="https://www.linkedin.com/in/olyad-regassa-432aa560" target="_blank">Olyad Regassa</a>
	</small>
	  <nav> 
	    <ul>
		  <li><%= link_to "about", about_path %></li>
		  <li><%= link_to "contact", contact_path %></li>
	    </ul>
    </nav>
  </footer>
</div>